<%- include("./partials/_header") -%>

<main>
    <section class="home__banner">
        <div class="home__container">
            <p>Animal Kingdom</p>
            <h1 class="home__heading">Life's Best Things</h1>
            <p class="home__description">Animals around are either endangered or aren't, this website shows list of
                animals across the globe give a better description on where to find then and if they are endangered</p>
        </div>
    </section>
    <section class="container unique">
        <div>
            <h2 class="unique__heading">Unique Kind</h2>
            <span class="unique__subheading">unique animals across the globe</span>
            <div class="unique__section">
                <img src="/images/tiger.jpg" width="500" alt="home_img" />
                <p>Looking at how far we have come today alot of animals are in danger this website is set out to keep
                    the heritage and also memories of animals</p>
            </div>
        </div>
    </section>
</main>

<%-include("./partials/_footer.ejs") -%>