<%- include("./partials/_header") -%>

<main>
    <section class="container unique">
        <%- include("./partials/_alert") -%>
        <form class="create__form" role="form" method="post" action="/api/animals/<%=animal.id%>?_method=PUT"  autocomplete="off">
            <div class="form__group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= animal.name %>" placeholder="Enter Animal Name"
                    class="form__input" />
            </div>
            <div class="form__group">
                <label for="place">Place Found</label>
                <select name="location">
                    <% for(var i = 0;i < location.length; i++){%>
                    <% if(location[i].id == animal.place_id) { %>
                    <option selected label="<%= location[i].place %>" value="<%= location[i].id %>">
                        <%= location[i].place %>
                    </option>
                    <% } else { %>
                    <option label="<%= location[i].place %>" value=" <%= location[i].id %>">
                        <%= location[i].place %>
                    </option>
                    <% } %>
                    <%}%>
                </select>
            </div>
            <div class="form__group">
                <h3>Endangered</h3>
                    <div>
                        <input type="radio" id="true" name="endangered" value="true" <%if(animal.isEndangered == "true"){%>
                    <%="checked"%>
                    <%}%>
                        >
                        <label for="true">True</label><br>
                    </div>
                    <div>
                        <input type="radio" id="false" name="endangered" value="false" <%if(animal.isEndangered == "false"){%>
                    <%="checked"%>
                    <%}%>>
                        <label for="false">False</label><br>
                    </div>

            </div>
            <div class="form__group">
                <textarea class="form__description" name="description" wrap="off" cols="30" rows="5">
                    <%= animal.description %>
                    </textarea>
            </div>

            <div class="form__btnSection">
                <button class="create__btn" type="submit">Update Animal</button>
            </div>
        </form>
    </section>
</main>

<%-include("./partials/_footer.ejs") -%>