<% if(typeof errors != 'undefined'){ %>
<div>
    <h4 class="alert-heading"> Error!</h4>
    <strong>
        <%= errors %>
    </strong>
</div>
<% } %>

<% if(error != ''){ %>
<div>
    <%= error %>
</div>
<% } %>

<% if(success_msg != ''){ %>
<div>
    <%= success_msg %>
</div>
<% } %>


<% if(error_msg != ''){ %>
<div>
    <%= error_msg %>
</div>
<% } %>