<footer class="footer">
    <div>
        <h2>
            <a class="brand" href="/"><span>Zoo</span>Topia</a>
        </h2>
    </div>
    <div>
        &copy; <span class="footer__year"></span>, Designed by  Aypumping80
    </div>
</footer>
<script src="/javascript/index.js"></script>
</body>
</html>